*{
    box-sizing: border-box;
}

.mainsection{
    /* display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.firstBox{
    grid-column: 1/3;
}

.lastBox{
    grid-column: 2/4;
}

.lastBox1{
    grid-column: 3/5;
}

#layout {
    /* width: 24%; */
    padding: 8px;
    border-radius: 5px;
    box-shadow:  2px 4px 2px rgb(8, 8, 8);
}

.response {
    text-align: center;
    padding: 5px;
}

.response h1, p{
    color: rgb(33, 33, 37);
}

p {
    padding: 10px;
    font-size: 18px;
}

@media screen and (max-width:768px) {
    .mainsection{
        grid-template-columns: repeat(1,1fr);

    }

    .firstBox{
        grid-column: 1/3;
    }

    .secondBox{
        grid-column: 3/5;
    }

    .fourthBox{
        grid-column: 2/5;
    }

    .fifthBox{
        grid-column: 1/2;
    }

    .sixthBox{
        grid-column: 3/5;
    }

    .Box{
        grid-column: 1/5;
        margin-bottom: 30px;
    }
}
